<!doctype html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="/bundle.css">
    <link rel="icon" href="{{ 'img/favicon.ico' | url }}" />
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
  </head>
  <body>
    {{ content | safe }}
  </body>
</html>